<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Diffusion Center</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="/setup-profile/">Setup Profile</a></li>
				<li><a href="/setup-process/">Setup Process</a></li>
				<li><a href="/run-process/">Run Process</a></li>
				<li><a href="/saved-results/">Saved Results</a></li>
				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Simulation Parameters</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">Find Material</a></li>
						<li><a href="#">Add Material</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">Add Diffusion Relation</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/glossary/">Glossary</a></li>
						<li><a href="#">API Reference</a></li>
					</ul>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>