<!DOCTYPE html>
<head>
	<title>Diffusion Center</title>
	{% include 'cdn_head.html' %}
	{% include 'style_head.html' %}
</head>
<body>
	{% include 'header.html' %}
	<div class="container-fluid">
		<h1>Setup Annealing Process</h1>
		<div class="dropdown">
			<div class="row">
				<div class="col-md-12"><b>TODO!</b></div>
			</div>
			<div class="row">
				<div class="col-lg-2">Annealing Device</div>
				<div class="col-lg-2">
					<div class="btn-group" role="group" aria-label="...">
						<button type="button" class="btn btn-default">Lamp</button>
						<button type="button" class="btn btn-default">Furnance</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>