<!DOCTYPE html>
<head>
	<title>Diffusion Center</title>
	{% include 'standard_head.html' %}
	{% include 'style_head.html' %}
</head>
<body>
	{% include 'header.html' %}
	<div class="container-fluid">
		<h1>Setup Material Profile</h1>
		<div class="row">
			<div class="col-md-6">
				<p>The profile is ordered where material 1 is is contact with material 2, material 2 is in contact with material 3, etc.</p>
				<p>Thus, the entire profile is <b>| 1 || 2 || 3 || 4 |</b>.</p>
			</div>
		</div>
		<form action="/add_profile/" method="post">
		{% csrf_token %}
			<div class="row">
				<div class="col-md-6">
					<fieldset class="form-group">
						<label for="name"><h4><b>Profile Name</b></h4></label>
						<input type="text" class="form-control" id="name" placeholder="Example input">
					</fieldset>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<h4>Material 1</h4>

					<fieldset class="form-group">
						<label for="mat_name_1">Material 1 Name</label>
						<input type="text" class="form-control" id="mat_name_1" placeholder="Example input">
					</fieldset>
					<fieldset class="form-group">
						<label for="depth_1">Material 1 Depth (in microns)</label>
						<input type="text" class="form-control" id="depth_1" placeholder="Another input">
					</fieldset>
				</div>
				<div class="col-md-6">
					<h4>Material 2</h4>
					<fieldset class="form-group">
						<label for="mat_name_2">Material 2 Name</label>
						<input type="text" class="form-control" id="mat_name_2" placeholder="Example input">
					</fieldset>
					<fieldset class="form-group">
						<label for="depth_2">Material 2 Depth (in microns)</label>
						<input type="text" class="form-control" id="depth_2" placeholder="Another input">
					</fieldset>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<h4>Material 3</h4>
					<fieldset class="form-group">
						<label for="mat_name_3">Material 3 Name</label>
						<input type="text" class="form-control" id="mat_name_3" placeholder="Example input">
					</fieldset>
					<fieldset class="form-group">
						<label for="depth_3">Material 3 Depth (in microns)</label>
						<input type="text" class="form-control" id="depth_3" placeholder="Another input">
					</fieldset>
				</div>
				<div class="col-md-6">
					<h4>Material 4</h4>
					<fieldset class="form-group">
						<label for="mat_name_4">Material 4 Name</label>
						<input type="text" class="form-control" id="mat_name_4" placeholder="Example input">
					</fieldset>
					<fieldset class="form-group">
						<label for="depth_4">Material 4 Depth (in microns)</label>
						<input type="text" class="form-control" id="depth_4" placeholder="Another input">
					</fieldset>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<button type="submit" class="btn btn-primary">Add profile</button>
				</div>
			</div>
		</form>
	</div>
</body>